/*External CSS
                        COMMON PROPERTIES
    color practice
h1 {
    background-color: red;
    last comma is opasity, how light or dark you want it to be
    color: rgba(32, 55, 185, 0.7);
} 


div {
    not dynamic, hard coding
    width: 200px;
    height: 200px;
    

    responsive to changing size of website 
    width: 100%;
    max-width: 200px;
    border: 10px solid black;
    font-size: 12px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background-color: rgba(0, 0, 0, 0.2); 
}
*/

/*                      SPECIFICITY
.red {
    color: red;
}


p.blue {
    color: blue;
}

.blue {
    color: black !important;
}

#title {
    font-weight: bold;
    color: purple;
}

section {
    height: 80vh;
    border: 1px solid black;
}
*/
/*                     BOX MODEL 
.box {
    width: 200px;
    height: 200px;
    background-color: green;
    border: 15px solid red;
        works clockwise of which side of the box it goes on 
    but if all the same you only write it once
    padding: 15px;
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
*/

/*                      COMPLEX PROPERTIES
div{
    height: 200px;
    border: 3px solid black;
}

.red{
    background-color: purple;
    // is over the other box div
    position: relative;
    width: 100%;
    box-sizing: border-box;
    
    //
    position: relative;
    bottom: 10px;
    right: 10px;
    //
    
}

.child {
    background-color: gold;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}
*/
